.container {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(12, [col-start] 1fr);
    grid-template-rows: auto [last-line];
    grid-gap: rem(20px);
    grid-column-gap: rem(40px);

    > * {
        grid-column: col-start / span 12;
    }

    &:not([class*="container--"]) {
        max-width: rem(1480px);
        padding: rem(0 20px);
    }

    @for $i from 1 through 11 {
        .container--#{$i} {
            grid-template-columns: repeat($i, [col-start] 1fr);
            > * {
                grid-column: col-start / span $i;
            }
        }
    }
}

.page {
    font-family: Roboto, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: $color-text;
    background-color: $color-white;

    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;

    > .container {
        flex-grow: 1;
    }
}
