# Builds
_old
dist
npm

# OSX
.DS_Store

# Dependency directory
node_modules

# Editors
.idea
.vscode
*.sublime-project
*.sublime-workspace
*.iml

# Logs
logs
*.log
.yarnclean

# Generated resources
docs/*